/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
section{
    margin-top: 130px;
}
/* Header section styles */
#header{
    background-color: rgba(255, 144, 14, 0.1);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 225px;
}
#navbar .logo{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
#navbar .navlist li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
#navbar .navlist li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
}
/* Banner section styles */
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Banner text part */
#banner .banner-txt{
    width: 800px;
}
#banner .banner-txt .banner-title{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    padding: 5px 0;
    margin-bottom: 10px;
}
#banner .banner-txt .banner-description{
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 25px;
    text-align: center;
    margin-bottom: 15px;
}
#banner .banner-txt .banner-btn{
    display: block;
    margin: 0 auto;
    padding: 12px 16px;
    border: 0;
    outline: none;
    background-color: #ff900e;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
}
/* Banner image part */
#banner .banner-image{
    margin-top: 30px;
    margin-bottom: 45px;
}
/* Features section styles */
#features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 85px;
}
/* Features image part */
#features .features-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
/* Features text part */
#features .features-txt{
    width: 535px;
}
#features .features-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #131313;
}
#features .features-title .clr-light-black{
    color: #727272;
    font-weight: 500;
}
/* #features .features-title  */
.clr-golden{
    color: #ff900e;
    font-weight: 700;
}
#features .features-description{
    font-size: 16px;
    color: #727272;
    line-height: 25px;
    margin-bottom: 24px;
}
#features .features-btn{
    display: block;
    padding: 12px 16px;
    border: 0;
    outline: none;
    background-color: #ff900e;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
}
/* Features React section styles */
#features-react{
    display: flex;
    gap: 145px;
    padding: 0 240px;
}
/* Features react text part */
#features-react .react-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    padding: 0 12px;
    border-left: 5px solid #ff900e;
}
#features-react .react-description{
    color: #727272;
    line-height: 25px;
    font-size: 16px;
    margin-top: 30px;
}
/* Features react image part */
#features-react .features-react-image{
    position: relative; 
}
/* Experience button */
.experience-btn{
    display: block;
    padding: 45px 40px;
    background-color: #ff900e;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 8px;
    position: absolute;
    bottom: -70px;
    left: -92px;
}
.experience-btn strong{
    font-size: 60px;
}
.experience-btn p{
    font-size: 25px;
}
/* Features react text part  */
.text{
    background-color: #fff;
    box-shadow: 0 4px 30px rgba(0,0,0,0.06);
    border-radius: 8px;
    padding: 25px;
    margin-top: 30px;
}
.text-title{
    margin-bottom: 10px;
    font-size: 20px;
    color: #131313;
}
.text-description{
    width: 515px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #727272;
}
/* Our work section styles */
#works{
    margin-top: 200px;
    padding: 0 240px;
}
#works .works-title{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: #131313;
    margin-bottom: 30px;
}
.works-image{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.works-image img{
    width: 100%;
}
/* Facts section styles */
#facts{
    padding: 0 240px;
}
/* facts header */
.facts-title{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
    padding: 10px 0;
}
.facts-description{
    font-size: 16px;
    width: 540px;
    color: #727272;
    line-height: 25px;
}
/* Achievement part */
.achievement{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.achievement .achieve{
    width: 200px;
    height: 200px;
    border: 1px solid #ff900e;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* bonus part */
    cursor: pointer;
    transition: 0.5s ease;
    background-color: #fff;
}
.achievement .achieve:hover{
    transform: translateY(-40px);
    box-shadow: 0 4px 10px #ff900e;
}
.achievement .achieve .icon img{
    transition: transform 0.5s ease;
}
.achievement .achieve .title{
    margin-top: 10px;
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    transition: transform 0.5s ease;
}
.achievement .achieve .comments{
    font-size: 18px;
    color: #727272;
    font-weight: 600;
    margin-top: 5px;
    transition: transform 0.5s ease;
}
.achievement .achieve:hover .icon img,
.achievement .achieve:hover .title,
.achievement .achieve:hover .comments{
    transform: rotate(360deg);
}
/* Sponspors section styles */
#sponspors{
    margin-top: 180px;
}
#sponspors .sponspors-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sponspors .sponspors-header .sponspors-title{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}
#sponspors .sponspors-header .sponspors-description{
    width: 540px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    color: #727272;
}
/* Sponspors logo part */
.sponspors-logo{
    padding: 0 240px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sponspors-logo img{
    filter: grayscale(1);
}
/* Footer section styles */
#footer{
    margin-top: 130px;
    margin-bottom: 215px;
    padding: 0 240px;
    height: 100px;
    background-color: #fff4e7;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer .footer-description{
    color: #424242;
    font-size: 20px;
}